.home {
    text-align: center;
    min-height: 100vh;
    position: relative;
    @include flex(column, flex-start, center);
    .header {
        padding: .3rem;
        img {
            max-width: 100%;
            height: auto;
        }
        .welcome {
            font-size: 2rem;
            font-family: 'Body';
            font-weight: 600;
            padding: .5rem 0;
        }
    }
    .game-options {
        @include flex(column, center, center);
        .select-wrapper {
            margin: .8rem .5rem .5rem;
        }
    }
    .footer {
        @include flex(row, space-between, center);
        border-top: 5px solid white;
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        padding:.5rem 0;
        font-size: .9rem;
        font-weight: 600;
        &:before {
            content:'';
            position:absolute;
            width:100%;
            height:5px;
            background:linear-gradient(
                45deg,
                $blue 0%,
                $yellow 49%,
                $pink 80%,
                $blue 100%
              );
            top:-5px;
            left:0;
        }
        .info {
            @include flex(row, center, center);
            height: 100%;
            padding: 0 1rem;
            a {
                height: 100%;
                color: $pink;
                padding-left: 1rem;
                @include flex(row, center, center);
                img {
                    height: 100%;
                    width: auto;
                }
            }
            
        }
    }
}
