.quiz {
    @include flex(column, flex-start, center);
    width: 100%;
    min-height: 100vh;
    position: relative;
    &::before {
        @include background();
    }
    .card {
        min-width: 60%;
        background: rgba(white, .85);
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
        margin: 1rem;
        padding: 1rem;
    }
    .info-container {
        @include flex(row, space-between, center);
        font-weight: 600;
        color: $pink;
        span {
            color: black;
            padding-left: .5rem;
        }
    }
    .quiz-container {
        min-height: 60vh;
        @include flex(column, flex-start, center);
        .seq, .question {
            font-size: 1.3rem;
            font-weight: 600;
        }
        .seq {
            color: $pink;
        }
        .question {
            text-align: center;
            padding: .5rem;
            color: $blue;
        }
        .answer {
            @include flex(row, flex-start, center);
            padding: .3rem;
            margin: .2rem;
            font-weight: 500;
        }
    }
}