@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin pseudo($bg-color) {
    display: block;
    background-color: $bg-color;
    content: '';
  }
  
  @mixin scale($scaleRate) {
    -ms-transform: scale($scaleRate, $scaleRate); /* IE 9 */
    -webkit-transform: scale($scaleRate, $scaleRate); /* Safari */
    transform: scale($scaleRate, $scaleRate);
  }